.items{
    display: flex;
    flex-direction: column;
}

.imageUploader {
    font-size: 15px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #333;
    border-radius: 3px;
    width: 100%;
    margin: 5px auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    border: 1px solid #e2e2e2;
    height: 50px;
  }
  
  .imageUploader input[type="file"] {
    display: none;
  }

  .addText{
    font-size: 15px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #333;
    border-radius: 3px;
    width: 100%;
    margin: auto 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    border: 1px solid #e2e2e2;
    height: 50px;
  }
  
  .addDesign{
    position: relative;
    font-size: 15px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #333;
    border-radius: 3px;
    width: 100%;
    margin: auto 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    border: 1px solid #e2e2e2;
    margin-top: 5px;
    height: 50px;
  }

  .buyBtn{
    font-size: 15px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #333;
    border-radius: 3px;
    margin: 10px;
    width: 95%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    border: 1px solid #e2e2e2;
    height: 50px;
  }

  .buyBtn:hover{
    color:#1483FF
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height:140px;
    margin-bottom: 30px;
    background-color: #fff;
    z-index: 999999999999;
  }

  .addLayerBtn{
    display: none;
  }

  @media screen and (max-width: 1100px) {
    .payuMsg {
      position: absolute;
      margin: 0px;
      padding: 10px;
      display: none;
    }

    .items{
      width: 100%;
    }

    .addBtns{
      display: none;
    }

    .impretionInfo{
      display: none;
    }

    .addLayerBtn{
      display: block;
      width: 98%;
      border: 1px solid #dedede;
      color: #3b3b3b;
      font-weight: 700;
      cursor: pointer;
      padding: 10px;
      outline: none;
    }

  

    /* Add this to your CSS module (styles.module.css) */
    .addItemsBtn{
      margin-bottom: 200px;
    }

    .newLayersPanel{
      position: absolute;
      margin-bottom: 50px;
      bottom: 10px;
      background-color: #fff;
      padding: 15px;
      border-radius: 4px;
    }

    .bottom{
      display: none;
    }

  }


  
  
