/* Loader.module.css */

@keyframes spin {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  
  .loadingioSpinnerRollingBe04wd6aj9 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background:transparent;
  }
  
  .ldio4ymq8hpls33 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  
  .ldio4ymq8hpls33 div {
    position: absolute;
    width: 170px;
    height: 170px;
    border: 6px solid #c1c1c1;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.5813953488372093s linear infinite;
    top: 100px;
    left: 100px;
  }
  