.itemContainer{
    border-radius: 8px;
    padding: 5px;
    margin: 4px;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 2px #ff6969;
}

.dropZone{
    box-sizing:border-box;
    overflow: auto;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-top: 20px;
    max-height: 570px;
}

    .buy {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      /* Add any other styles you need for the Buy component here */
    }

  .responsiveDropZone{
    display: none;
  }

  .layersBtn{display: none;}

  @media screen and (max-width: 1100px) {
    .header {
      width: 100%;
    }

    .nonResponsiveDropZone{
        display: none;
    }

    .responsiveDropZone{
      display: block;
      width: 100%;
    }

    .dragAndDropZone{
      position: absolute;
      margin-bottom: 50px;
      margin-right: 10px;
      bottom: 10px;
      background-color: #fff;
      padding: 5px;
      right: 0;
      border-radius: 4px;
    }

    .layersBtn{
      display: block;
      width: 100%;
      padding: 10px;
      border: none;
      outline: none;
      background-color: var(--primary-color);
      color: #fff;
      cursor: pointer;
    }
}


