/* CSS */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }
  

  .buyBtn{
    font-size: 15px;
    display: inline-block;
    padding: 8px 16px;
    color: #333;
    border-radius: 3px;
    margin: 10px;
    width: 95%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    border: none;
    height: 50px;
    background-color: #1483FF;
    color: #fff;
  }

  .switchBtn{
    border: none;
    width: 200px;
    padding: 10px;
    border-radius: 4px 4px 0px 0px;
    margin: 5px;
    cursor: pointer;
  }

  .bodySection{
    border: 1px solid #e2e2e2;
    padding: 10px;
    border-radius: 4px;
  }

  .properties{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    border: 1px solid #e2e2e2;
    padding: 1px;
    border-radius: 3px;
  }

  .textProperties{
    background: #e2e2e2;
    padding: 4px;
    color: #333;
    width: 200px;
  }

  .buyResponsiveBtn{
    display: none;
  }

  @media screen and (max-width: 1400px) {
    .buyBtn {
      width: 100%;
      margin: 0px;
      border-radius: 0px;
    }
  }

  @media screen and (max-width: 1100px) {
    .buyBtn {
      width: 50%;
      margin: 0px;
      border-radius: 0px;
      position: relative;
      display: none;
    }

    .buyResponsiveBtn{
      display: block;
      width: 100%;
      outline: none;
      border: none;
      padding: 10px;
      margin-left: 5px;
      border-radius: 0px 6px 6px 0px;
      background-color: rgb(1, 165, 89);
      color: #fff;
    }
  }